@font-face {
  font-family: 'SST Roman';
  font-style: normal;
  font-weight: normal;
  src: local('SST Roman'), url('assets/fonts/SSTRg.woff') format('woff');
}


@font-face {
  font-family: 'SST Condensed';
  font-style: normal;
  font-weight: normal;
  src: local('SST Condensed'), url('assets/fonts/SSTRgCn.woff') format('woff');
}


@font-face {
  font-family: 'SST Italic';
  font-style: normal;
  font-weight: normal;
  src: local('SST Italic'), url('assets/fonts/SSTRgIt.woff') format('woff');
}


@font-face {
  font-family: 'SST Light';
  font-style: normal;
  font-weight: normal;
  src: local('SST Light'), url('assets/fonts/SSTLight.woff') format('woff');
}


@font-face {
  font-family: 'SST Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('SST Light Italic'), url('assets/fonts/SSTLightIt.woff') format('woff');
}


@font-face {
  font-family: 'SST Medium';
  font-style: normal;
  font-weight: normal;
  src: local('SST Medium'), url('assets/fonts/SSTMedium.woff') format('woff');
}


@font-face {
  font-family: 'SST Condensed Medium';
  font-style: normal;
  font-weight: normal;
  src: local('SST Condensed Medium'), url('assets/fonts/SSTMediumCn.woff') format('woff');
}


@font-face {
  font-family: 'SST Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('SST Medium Italic'), url('assets/fonts/SSTMediumIt.woff') format('woff');
}


@font-face {
  font-family: 'SST Bold';
  font-style: normal;
  font-weight: normal;
  src: local('SST Bold'), url('assets/fonts/SSTBold.woff') format('woff');
}


@font-face {
  font-family: 'SST Condensed Bold';
  font-style: normal;
  font-weight: normal;
  src: local('SST Condensed Bold'), url('assets/fonts/SSTBoldCn.woff') format('woff');
}


@font-face {
  font-family: 'SST Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('SST Bold Italic'), url('assets/fonts/SSTBoldIt.woff') format('woff');
}


@font-face {
  font-family: 'SST Heavy';
  font-style: normal;
  font-weight: normal;
  src: local('SST Heavy'), url('assets/fonts/SSTHeavy.woff') format('woff');
}


@font-face {
  font-family: 'SST Heavy Italic';
  font-style: normal;
  font-weight: normal;
  src: local('SST Heavy Italic'), url('assets/fonts/SSTHeavyIt.woff') format('woff');
}


/* Provide sufficient contrast against white background */

body {
  font-family: "SST Medium", Arial;
}

.featured-image img{
  background-color: #ff00cc;
  height: 400px;


}
a.carousel-control:hover, a.carousel-control.right:hover {
  background-image: linear-gradient(to right, rgba(250, 0, 0, 0) 0px, rgba(255, 0, 0, 0.5) 100%);
}
a.carousel-control.left:hover{
  background-image: linear-gradient(to left, rgba(250, 0, 0, 0) 0px, rgba(255, 0, 0, 0.5) 100%);
}
.carousel-item {
  background-color: #ff00cc;

}

.feature-overlay {
  position: relative;
  z-index: 999990000;
  top: 0;
  background-color: #ff00cc;
  background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
  height: 600px;

}

.header-links a{
  color: #C4C4C4;
  text-decoration: none;
  line-height: 0;
  border-radius: 8px;
  padding: 5px 20px;
}

.activeRoute {
  color: #ff00cc;
  border: 2px solid #0070D1;
  line-height: 0;
  border-radius: 8px;
  padding: 5px 20px;
}

a {
  color: #0366d6;
}


code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
